meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="description", content="")
meta(property="og:url", content="")
meta(property="og:title", content="")
meta(property="og:type", content="website")
meta(property="og:description", content="都内を中心に活動する、エモーショナル・インディーロックバンド 「Charlotte is Mine」（シャーロットイズマイン）待望の1st album “IN SOMEWHERE NIGHTS”をリリース")
meta(property="og:image", content="")
meta(name="twitter:card" content="")
meta(name="twitter:site" content="")
meta(property="og:site_name", content="")
meta(property="og:locale" content="ja_JP")
meta(property="fb:app_id", content="")
title #{siteTitle} - #{client}
link(rel='stylesheet', href="css/style.css")