section.video {
	position: relative;
	margin: 200px 0;
	display: flex;
	align-items: center;
	@include md {
		flex-wrap: wrap;
		margin: 0;
	}
	@include sm {
		margin: 50px 0;
	}
	.left {
		width: 30%;
		padding-left: 100px;
		text-align: center;
		@include md {
			width: 70%;
			padding-left: 0;
			margin: 0 auto;
		}
		@include sm {
			width: calc(100% - 90px);
		}
		.secHead {
			position: relative;
			margin-bottom: 30px;
			@include md {
				text-align: left;
			}
			&::before {
				position: absolute;
				left: 50%;
				bottom: 9rem;
				content: '';
				display: block;
				width: 1px;
				height: 400px;
				background: $color-sub;
				@include md {
					content: none;
				}
			}
		}
		.btn {
			position: relative;
			z-index: 1;
			line-height: 4;
			background: $color-main;
			color: $color-accent;
			margin-bottom: 20px;
			transition: 0.3s all;
			@include btnFx($color-accent,$color-main,2px);
			@include md {
				position: absolute;
				top: calc(100% + 20px);
				width: 60%;
				left: 0;
				right: 0;
				margin: 0 auto;
				line-height: 3;
				+ .btn {
					top: calc(100% + 100px);
				}
			}
			@include sm {
				width: calc(100% - 90px);
				+ .btn {
					top: calc(100% + 85px);
				}
			}
			&:last-of-type {
				z-index: 0;
				&::after {
					pointer-events: none;
					position: absolute;
					left: 50%;
					top: 12rem;
					content: '';
					display: block;
					width: 1px;
					height: 400px;
					background: $color-sub;
					@include md {
						top: 60px;
						height: 150px;
					}
					@include sm {
						top: 45px;
						height: 110px;
					}
				}
			}
		}
	}
	.right {
		position: relative;
		overflow: hidden;
		right: 0;
		width: 70%;
		height: 0;
		padding-top: 40%;
		&.is-active {
			&::after {
				@include labelFx-label(
					$color:$color-main,
					$delay1:0s,
					$span:0.4s,
					$delay2:0.4s
					)
			}
			iframe {
				@include labelFx-show($delay:0.4s)
			}
		}
		@include md {
			width: 100%;
			padding-top: 65%;
		}
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
		}
	}
}