- var client = "Charlotte is Mine"
- var siteTitle = "IN SOMEWHERE NIGHTS"

doctype
html(lang="ja")
  head
    include common/_head.pug
  body
    include components/_mainVisual.pug
    include common/_scripts.pug
