- var client = "Charlotte is Mine"
- var siteTitle = "IN SOMEWHERE NIGHTS"

doctype
html(lang="ja")
	head
		include common/_head
	body
		include components/_header
		include components/_mainVisual
		include components/_album
		include components/_video
		include components/_party
		include components/_comments
		include components/_footer
		include common/_scripts
