section.album#album
	.container.outer
		.left#album
			img(class="parallax" data-paraSpeed="15" src="img/jacket.jpg" alt="IN SOMEWHERE NIGHTS")
		.right
			h2.secHead IN SOMEWHERE NIGHTS
			.info
				.songs
					ul.starter
						li 01 - Somewhere
						li 02 - Polaris
						li 03 - night on the planet
						li 04 - Swirling
						li 05 - Grenier (album ver.)
						li 06 - 白昼夢
						li 07 - Ship at Dawn (album ver.)
						li 08 - evoke
						li 09 - night night, sleep tight
						li 10 - absent
						li 11 - Moon at Morning
				.data
					ul
						li IN SOMEWHERE NIGHTS
						li 発売日：2019年6月26日(水)
						li CD (FLAKES-214)
						li ¥2,000(税抜)/ ¥2160(税込)
						li Label / FLAKE SOUNDS
						li JAN 4571207712141
