section.comments#comments
	h2.secHead COMMENTS
	.commentsArea
		.commentItem
			h3.name Masahiko Kubota
			p.belongs クボタマサヒコ (kuh)
			p.talk
				| ついに1stアルバム完成！ おめでとうございます。<br>
				| たった今、日本のインディロックシーンにとって重要なマスターピースが樹立しちゃいましたね。<br>
				| これがあればどんな夜だって手を取り越えてゆけるでしょう。<br>
				| そんな気持ちにすらさせてくれる音と言葉が、とても頼もしく響いています。<br>
				| 早く日本代表としてデスキャブと対バンして欲しいです！
		