section.comments#comments
	h2.secHead COMMENTS
	.commentsArea
		.commentItem.starter
			h3.name Masahiko Kubota
			p.belongs クボタマサヒコ (kuh)
			p.talk
				| ついに1stアルバム完成！ おめでとうございます。<br>
				| たった今、日本のインディロックシーンにとって重要なマスターピースが樹立しちゃいましたね。<br>
				| これがあればどんな夜だって手を取り越えてゆけるでしょう。<br>
				| そんな気持ちにすらさせてくれる音と言葉が、とても頼もしく響いています。<br>
				| 早く日本代表としてデスキャブと対バンして欲しいです！
		.commentItem.starter
			h3.name Kazuya Hirabayashi
			p.belongs 平林 一哉 (Husking Bee / The Firewood Project)
			p.talk
				| お互いの音色を引き立て合う絶妙な間(ま)と調和。丁寧に織り成される音のレイヤー。<br>
				| メロディと歌声は瑞々しさを湛え、時に懐かしい景色を想うかのように、時に新しい日々を見据えるかのように。<br>
				| しなやかに色を変えつつ誠実に紡がれる11曲。<br>
				| 聴く人それぞれのストーリーを彩るサウンドトラックとしても間違いの無い一枚です。<br>
				| 大傑作の完成に大きな拍手を！
		.commentItem.starter
			h3.name Yuki Miyamoto
			p.belongs COUNTRY YARD
			p.talk
				| Somewhereから物語が始まり、エンドロールのようなMoon at morningで幕を閉じる。<br>
				| このアルバムは Emo/Indie Rockという言葉だけに捉われない、もっともっと広い世界を想像したくなる。<br>
				| 浮遊感ある映画を見てるような、淡くもあり華やかさもある再生してからの絶妙な流れ。<br>
				| この1枚をリリース出来る人生と感性を羨ましくすら思いました。<br>
				| Charlotte Is Mineの二人が変えていく世界、楽しみにしています。
		.commentItem.starter
			h3.name DENCA
			p.belongs デンカ（ATATA/ mahol-hul / nenem）
			p.talk
				| なんという圧倒的情景！海、そして月夜。<br>
				| Tristezaにbonnie pinkが加入して、漂流しながら船上スタジオで作ったのではないかと思った。<br>
				| それにしてもVo.フルヤの歌声の凛とした存在感といったら！<br>
				| どうだ！これが生身の人間から生まれる音楽だ！


		.commentItem.starter
			h3.name Suguruguruguru
			p.belongs すぐるぐるぐる (1inamillion / YKCM / NOUGAT)
			p.talk
				| 初めてCharlotte is Mineの曲を聴いたとき、<br>
				| 少し肌寒い朝/淹れたてのコーヒー/白いカーテン/広いバルコニー/微風/海岸沿い/霧湖/曇り空/湿原/夕焼け/少し肌寒い夜<br>
				| といったイメージが一気に目の前に広がって焦りました。<br>
				| そんな楽曲がたくさん集まってアルバムになっちゃいました。<br>
				| そりゃもう非常に最高です。
		