section.footer#contact
	a(href='https://passmarket.yahoo.co.jp/event/show/detail/017qgh107a6p0.html' class="btn" target="_blank")
		| TICKET RESERVE
		br
		span リリースパーティーの<br class="spbr">チケット予約・詳細はこちら
	.feet
		.copy
			small © Copyright 2019 │ Charlotte is Mine All rights reserved. This special website was produced by ma-ya's CREATE<br class="spbr">
			a(href="/special/in-somewhere-nights")
				img(src="img/logo_w.svg" alt="Charlotte is Mine" class="cim")
			a(href="https://myscreate.com/" target="_blank")
				img(src="img/myc_logo_w.svg" alt="ma-ya's CREATE" class="myc")
		.icons
			ul
				li
					a(href="http://charlotteismine.com/" target="_blank")
						i.icon-home
				li
					a(href="https://twitter.com/charlotte_mine" target="_blank")
						i.icon-twitter
				li
					a(href="https://www.facebook.com/charlotteismine/" target="_blank")
						i.icon-facebook
				li
					a(href="https://www.instagram.com/charlotte_is_mine/" target="_blank")
						i.icon-instagram
				li
					a(href="https://www.youtube.com/channel/UC80hp1DQpNYnqBrZnAH3TYg" target="_blank")
						i.icon-youtube
				li
					a(href="https://soundcloud.com/charlotte_is_mine" target="_blank")
						i.icon-soundcloud
				li
					a(href="https://open.spotify.com/artist/4qjYirCZfhEHkaixuexPTV" target="_blank")
						i.icon-spotify
				
		