header#header
	.hamb#hamb
			span
			span
	.rightTop
		h1
			| Charlotte is Mine
			br
			| 1st album “IN SOMEWHERE NIGHTS”
		p special website
	nav.desktopNav
		ul#desktopNavUl
			li
				a(href="#contact") contact
			li
				a(href="#comments") comments
			li
				a(href="#party") release party
			li
				a(href="#video") video
			li
				a(href="#album") album
			li
				a(href="#") top
	nav.spNav#spNav
		ul
			li
				a(href="#") top
			li
				a(href="#album") album
			li
				a(href="#video") video
			li
				a(href="#party") release party
			li
				a(href="#comments") comments
			li
				a(href="#contact") contact