section.mainVisual#mainVisual
	.container
		span(class="square parallax" data-paraSpeed="-10")
		.mvImages
			img(src="img/mv.jpg" alt="Charlotte is Mine" class="mv mvParallax")
			img(src="img/logo_blk.svg" alt="Charlotte is Mine" class="logo")
		.mvTxt
			h1.mvHead#mvHead
				| "IN
				br
				| SOMEWHERE
				br
				| NIGHTS"
			p.txt
				| US indie, alternative, shoegazer, dream pop...
				br
				| "Charlotte is Mine" is gonna open a crack
				br
				| in Japanese indie rock scene.
			.mvDescOuter
				p.mvDesc 2019.06.26 on sale
