section.mainVisual
	.container
		span.square
		.mvImages
			img(src="img/mv.jpg" alt="Charlotte is Mine" class="mv")
			img(src="img/logo_blk.svg" alt="Charlotte is Mine" class="logo")
		.mvTxt
			h1.mvHead
				| "IN
				br
				| SOMEWHERE
				br
				| NIGHTS"
			p.txt
				| US indie, alternative, shoegazer, dream pop...
				br
				| "Charlotte is Mine" is gonna open a crack
				br
				| in Japanese indie rock scene.
			p.mvDesc 2019.06.26 on sale
