section.party#party
		.left
			img(src="img/party.jpg" alt="release party")
		.right
			h2.secHead RELEASE<br>PARTY
			a(href='https://passmarket.yahoo.co.jp/event/show/detail/017qgh107a6p0.html' class="btn") TICKET RESERVE
				br
				span チケット予約・詳細はこちら