section.video#video
		.left
			h2.secHead VIDEO
			a(href='https://music.apple.com/jp/album/1466221441?l=ja&ls=1&app=music&at=1l3vpUI&ct=LFV_ad90b04bac05104e341e6c6e803b465d' class="btn" target="_blank") Apple music
			a(href='http://open.spotify.com/album/5Qmn1Mg1SBh3jtbk1nPreJ' class="btn" target="_blank") Spotify
		.right.starter
			<iframe class="youtube" data-src="https://www.youtube.com/embed/GGkPe6Y7tho" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>