section.video#video
		.left
			h2.secHead VIDEO
			a(href='#' class="btn") Apple music
			a(href='#' class="btn") Spotify
		.right
			<iframe class="youtube" data-src="https://www.youtube.com/embed/QUg2bmSx1Zw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>